{% extends 'base.html.twig' %}
{% block title %}Inicio{% endblock %}
{% block stylesheets %}
 {{ parent() }}
<link href="{{ asset('css/stylesheetInicio.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block contenido %}
<div class="container">
    <div class="main-content">
        <a href="{{ path('miPerfil',{'id_usuario': app.user.id}) }}"> Mi perfil</a>
    </div>
        {% include 'usuarios.html.twig' %}
</div>
{% endblock %}
