{# templates/login.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>	
    	<form action="{{ path('ctrl_login') }}" method="post">
			Usuario
			<input type="text" id="username" name="_username" required/>
			Clave
			<input type="password" id="password" name="_password" required/>
			<button type="submit">login</button>
		</form>
    </body>
</html>
