{% block contenido %}
<div class="container">
    <div class="main-content">
        <h2>Cuenta pendiente de validación</h2>
        <p>Tu cuenta ha sido creada exitosamente, pero necesita ser activada.</p>
        <p>Por favor, revisa tu correo electrónico y sigue las instrucciones para activar tu cuenta.</p>
    </div>
</div>
{% endblock %}