{% block stylesheets %}
    <link href="{{ asset('css/stylesheetUsuarios.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block contenido %}
<div class="usuarios-container">
    <h3>Lista de Usuarios</h3>
    <ul>
        {% for usuario in usuarios %}
            <li>
                <a href="{{ path('ver_perfil', { 'id': usuario.id }) }}">
                    {{ usuario.nombre }} {{ usuario.apellido }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
