{% block stylesheets %}
    <link href="{{ asset('css/stylesheetUsuarios.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="sidebar">
        <div class="header-container">
            <h2 class="usuarios-header">Usuarios</h2>
        </div>
        <div class="search-container">
            <input type="text" id="search-user" placeholder="Buscar usuario...">
        </div>
        <div id="resultados-busqueda" class="usuarios-container">
            {% for usuario in usuarios %}
                <div class="usuario-item">
                    <a href="{{ path('ver_perfil', {'id': usuario.id}) }}">{{ usuario.nombre }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const searchInput = document.getElementById('search-user');
            const resultadosContainer = document.getElementById('resultados-busqueda');

            searchInput.addEventListener('input', function() {
                const query = this.value;
                
                if (query.length >= 2) {
                    const xhr = new XMLHttpRequest();
                    xhr.addEventListener('readystatechange', gestionarRespuesta, false);
                    xhr.open('POST', '{{ path('buscar_usuarios') }}', true);
                    xhr.setRequestHeader("Content-Type", "application/json");
                    xhr.send(JSON.stringify({q: query}));
                } else {
                    resultadosContainer.innerHTML = '';
                }
            });

            function gestionarRespuesta() {
                if (this.readyState === XMLHttpRequest.DONE) {
                    if (this.status === 200) {
                        const data = JSON.parse(this.responseText);
                        resultadosContainer.innerHTML = '';
                        data.forEach(usuario => {
                            const usuarioItem = document.createElement('div');
                            usuarioItem.classList.add('usuario-item');
                            usuarioItem.innerHTML = `
                                <a href="/usuario/${usuario.id}">${usuario.nombre} (${usuario.email})</a>
                            `;
                            resultadosContainer.appendChild(usuarioItem);
                        });
                    } else {
                        console.error('Hubo un error en la petición');
                    }
                }
            }
        });
    </script>
{% endblock %}

